<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vaselevs.app.datasource.Mapper">
  <select id="allProducts" resultType="products">
    select * from products
  </select>
  <select id="product" resultType="product">
    select * from products where product = #{product}
  </select>
</mapper>
